* {
    text-decoration: none;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}


body {
    background: rgb(214, 226, 249);
    font-family: monospace;
}

main {
margin: 1em;
}

section ul li {
    margin: 1em;
}

/* aanpassingen in de SECTION indelingen*/

section {
    width: 1400px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap; 
   
}


section ul{
    display: flex;
    flex-direction: column;
}


img {
    width: 200px;
    margin: 1em;
}


.medium {
    width: 300px;
}


.bosluk {
    margin-bottom: 7em;
}

.turkije {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 8em;
}

.maastricht {
    display: flex;
    flex-direction: row;
}

.maastricht li {
    flex: 1;
    margin: 0;
}

.text {
    flex: 1;
    margin-left: 20px; 
}


/*Animatie van homepage*/
@keyframes subtleMove {
    from {
      transform: translateX(0%);
    }
  
    to {
      transform: translateX(30%);
    }
}

#mijneigenfotovooranimatie {
    animation: subtleMove 5s ease-in-out infinite; /* Start de keyframes animatie */
}


/*Hoofdstukken en teksten*/
h1 {
    color: rgb(9, 9, 9) ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: block;
}

h2 {
    color: hsl(0, 0%, 24%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    color: rgb(61, 59, 59);
    font-family: Arial, Helvetica, sans-serif;
}

nav a {
    color: rgb(9, 49, 168);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*navbar*/
nav {
    padding: 2em;
    background-color: #94abe4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li {
    display: block;
    /* float: left; */
}

header nav ul li a {
    display: block;
    padding: 9px 7px;
    text-decoration: none;
}

ul li {
    list-style: none;
}

/*Footer*/
footer {
    padding: 24px;
    background-color: #94abe4;
    display: flex;
    justify-content: space-between;
    align-items: center;

}